[submodule "app/packages/parsleyjs-promises/parsleyjs"]
	path = app/packages/parsleyjs-promises/parsleyjs
	url = https://github.com/lencinhaus/Parsley.js.git
	branch = promises
[submodule "app/packages/selectize/selectizejs"]
	path = app/packages/selectize/selectizejs
	url = https://github.com/brianreavis/selectize.js.git
