@import "/packages/bootstrap3-less/bootstrap.lessimport";
@import "/packages/selectize/selectizejs/dist/less/selectize.bootstrap3.less";

body {
  padding-top: 60px;
  padding-bottom: 40px;
}

.spinner-container {
  margin: 50px auto;
}

// import components
@import "layout.lessimport";
@import "notifications.lessimport";
@import "confirm.lessimport";
@import "dashboard.lessimport";
@import "contacts.lessimport";